# Build output
dist/
.astro/

# Dependencies
node_modules/

# Cloudflare & Wrangler
.wrangler/
.dev.vars*
_worker.bundle

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
